#aud_plr{
   width:100%;
   background:blue;
}

#aud_ctl{
  width:100%;
}

.itm{
   margin: auto;
   width: 50%;
   border: 3px solid green;
   padding: 10px;
   text-align:center;
   font-size:36px;
}

#title{
	text-align:center;
}
#subtitle{
	text-align:center;
}